/.tools/
/build/bin/
/build/package/
/build/release/
/frontend/node_modules/
/frontend/dist/
/frontend/wailsjs/
/third_party/windivert/
*.log
*.test.exe
*.syso
/frontend/test-results/
/frontend/playwright-report/
